.header-section {
    background-image: url('https://images.pexels.com/photos/2931915/pexels-photo-2931915.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    padding: 20px;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  
  #location {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  #searchButton {
    padding: 10px 20px;
    background-color: wheat;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #searchButton:hover {
    background-color: darkolivegreen;
  }
  
  body {
    background-color: azure;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .story {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .story img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .story p {
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .body-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
  }
  
  .solar-eclipse {
    width: 50%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    margin-top: auto;
  }
  
  .subscription-form {
    margin-top: 10px;
  }
  
  .subscription-form input[type="email"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .subscription-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .subscription-form button:hover {
    background-color: #0056b3;
  }